{% extends 'base.html.twig' %}

{% block title %}Add schedule{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/tempusdominus.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-3">Add schedule</h1>

        {{ include('schedule/_form.html.twig') }}

        <a class="btn btn-primary" href="{{ path('schedules') }}"><i class="fa fa-arrow-left"></i> Back to list</a>

    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/moment.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/tempusdominus.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/datepicker.js') }}"></script>
{% endblock %}