    <div class="container my-5">

        <h1 class="my-3">Activities</h1>

        {% if activities %}
            <div class="table-responsive">
                <table class="table">

                    <thead class="mdb-color darken-3">
                    <tr class="text-white">
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col" class="d-none d-lg-table-cell">Description</th>
                        <th scope="col">Slots</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th scope="col"></th>
                        {% endif %}
                    </tr>
                    </thead>

                    <tbody>
                    {% for activity in activities %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ activity.name }}</td>
                            <td class="d-none d-lg-table-cell">{{ activity.description }}</td>
                            <td>{{ activity.slots }}</td>
                                <td class="d-flex flex-column flex-md-row" role="group" aria-label="coach actions">
                                    <a class="btn btn-sm btn-secondary" href="{{ path('activity_show',{id: activity.id})}}">Details</a>
                                    <a class="btn btn-sm btn-primary" href="{{ path('activity_update',{id: activity.id}) }}">Edit</a>
                                    <a class="btn btn-sm btn-danger" href="{{ path('activity_delete',{id: activity.id}) }}">Delete</a>
                                </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            No activities to show
        {% endif %}
            <a class="btn btn-primary" href="{{ path('activity_new') }}">
                <i class="fa fa-plus"></i>
                Add new activity
            </a>
    </div>