<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assign for {{ activity }}</title>
</head>
<body>
<h3 style="color: #3f51b5">You did it! You are assigned!</h3>

<h4>Hi {{ firstName }}!</h4>
<p>You're successfully assigned for {{ activity }} with {{ coach }}.
    {{ activity }} will take place on <b>{{ startDate|date('Y-m-d H:i') }}</b> in {{ room }}.</p>

<p>Thanks!</p>
</body>
</html>
